<!DOCTYPE html>
<html>
  <head>
    
  </head>
  
  <body>
    <div class="welcome">
      <h1>Flatiron Widgets Store</h1>
    </div>
    
    <div class="page">
      <%= yield %>
    </div>
  </body>
</html>